  body {
    background-color: azure;
  }
  hr {
    border-color: darksalmon;
    border-style: dotted none none;
    border-width: 5px;
    width: 10%;
  }
  h1 {
    color: #66BFBF;

  }
  h3{
    color: #66BFBF;

  }
